body{
    background-color: #2C3639 !important;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    color: #DCD7C9 !important;
}
footer {
    text-align: center;
    margin-top: 50px;
    color: #DCD7C9 !important;
    bottom: 0;
    flex: 0;
}
nav {
    background-color: #3F4E4F !important;
    margin: 50px 100px auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.895;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex: auto;
}
.nav-item, .nav-link {
    margin-left: 43px;
    margin-right: 43px;
    text-align: center;
    color: #DCD7C9 !important;
    transform: scale(1.1);
}
.nav-link:hover {
    color: #A1C2BD !important;
    transform: scale(1.196);
    transition: 1.5s;
}
