.skills {
  text-align: right;
  padding: 10px;
  color: #2C3639;
  border-radius: 20px;
  flex: 1;
}
h4{
    color: #DCD7C9 !important ;
}
.html {
  width: 85%;
  background-color: #81A6C6;
  flex: 1;
}
.css {
  width: 80%;
  background-color: #82aaba;
}
.javascript {
  width: 40%;
  background-color: #AACDDC;
}
.python {
  width: 60%;
  background-color: #93c5b7;
}
.Modeling {
  width: 5%;
  background-color: #F3E3D0;
}
.Photography{
  width: 35%;
  background-color: #D2C4B4;
}
.gaming {
  width: 110%;
  background-color: #B8B8B8;
}
