body{
    background-color: #1C4D8D !important;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
nav {
    background-color: #4988C4 !important;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.895;
}
.nav-item, .nav-link {
    margin-left: 43px;
    margin-right: 43px;
    text-align: center;
    color: #BDE8F5 !important;
    transform: scale(1.1);
}
.nav-link:hover {
    color: #0F2854 !important;
    transform: scale(1.196);
    transition: 1.5s;
}
#Homepageintroduction {
    margin-top: 60px;
    opacity: 0.8;
}
#Index_main_page_img {
    margin-left: 200px;
    margin-top: 50px !important;
}
.PFP_Index {
    box-shadow: 10px 10px 5px rgba(143, 134, 134, 0.744);
}

#Index_main_page_short_details_of_me {
    width: 30%;
    margin-right: 200px;
    float: right;
    font-style: italic;
    background-color: aliceblue;
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.416);
}
.Hobbies {
    width: 30%;
    margin-top: 40px;
    margin-right: 25px;
    background-color: rgb(175, 205, 232);
    border-radius: 30px;
    text-align: center;
}
.Index_background_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63.3%);
  z-index: 1;
  background-color: black;
  opacity: 0.8;
}
.Index{
    position: relative;
    z-index: 2;
}
